*, ::before, ::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin: 0
}

a {
    text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

html {
    font-size: 26px;
    line-height: 1.5em;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins';
    color: #371100;
    background-color: #f8f4f1;
    /*background-color: #fbfbfb;*/
    min-width: 100vw;
    min-height: 100vh;
    overscroll-behavior-x: none;
}


.cursor-pointer {
    cursor: pointer;
}

.error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#offo-container{
    height:50vh;
   
}
#offo img {
    height: 250px;
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
}
.error-footer{
    padding:25px ;
    text-align:center;
}
.refresh-page {
    display: none;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #ffe9cc, #ffffff);
    font-size: 1.2rem;
    font-family: "Roboto", Helvetica, Calibri;
}

.refresh-page-inner {
    width: 100vw;
    height: 95vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-button {
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.6rem 2.5rem;
    margin: 2rem;
    background: #d26f26;
    border-radius: 5px;
    color: #fff;
    width: 15rem;
    line-height: 1.3rem;
    cursor: pointer;
}

.refresh-page-logo {
    margin-bottom: 2rem;
}

.refresh-page-onebanc-logo {
    height: 13rem;
    width: 13rem;
}

html.network-issue .content, html.network-issue header, html.network-issue footer {
    display: none;
}

html.network-issue .refresh-page {
    display: block;
}

.refresh-page-footer {
    height: 5vh;
    text-align: center;
}

.xsmall {
    font-size: 0.75rem;
    line-height: 1.5em;
}

.small {
    font-size: 0.8rem;
    line-height: 1.5em;
}

.medium {
    font-size: 1.4rem;
    line-height: 1.5em;
}

.large-text {
    font-size: 1.8rem;
    line-height: 1.3em;
}

.bold {
    font-weight: 600;
}

.font-color {
    color: #0a0535;
}

.text-color {
    color: #403f44;
}

.content {
    min-height: 92vh;
    max-width: 1920px;
    min-width: 325px;
}

.box {
    width: 80%;
    margin: auto;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 1.6rem;
    }

.page-header {
    position: absolute;
    background-color: #fefefe;
    width: 101%;
    /*left:1%;*/
    opacity: 0.75;
}

.header-titles a {
    margin: 0 1.5rem;
    color: purple;
    text-decoration: none;
}

    .header-titles a:hover {
        color: black;
        transition: all 0.5s;
    }

#talk-button1 {
    border: none;
    border: 1px solid purple;
    border-radius: 12px;
    font-size: 1rem;
    color: purple;
    font-size: 1rem;
    padding: 0.5rem 2.4rem;
}
}

.intro-section {
    text-align: center;
    background: rgb(234,242,255);
    background: linear-gradient(135deg, rgba(234,242,255,1) 18%, rgba(249,224,255,1) 67%, rgba(209,198,254,1) 100%);
    padding-top: 3.3rem;
    padding-bottom: 5rem;
}

.padding-box {
    padding-top: 4rem;
}
.project-snip{
    height:14.2rem;
}
.image-me {
    height: 7rem;
}

    .image-me img {
        height: 7rem;
    }

.title-section-wrapper {
    position: relative;
}

.title-section {
    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(176deg, rgba(255,255,255,60%) 3.5%, rgba(255,255,255,0) 120%);*/
    padding-top: 1.3rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.background-blur {
    background: linear-gradient(176deg, rgba(255,255,255,60%) 3.5%, rgba(255,255,255,0) 120%);
    padding: 1.4rem 0;
    filter: blur(25px);
    height: 19rem;
}

.gradient {
    font-size: 3rem;
    font-weight: 900;
    color: black;
    padding-bottom: 1.5rem;
    line-height: 1.3em;
}

.description {
    padding-bottom: 1.5rem;
    font-weight: 300;
    /*color: #585858;*/
}
.mail{
    font-size:0.7rem;
    text-align:right;
}
#talk-button2 {
    margin-top: 0.3rem;
    box-shadow: 0px 7px 10px rgb(86 42 241 / 90%);
    color: #fff;
    background-color: #562af1;
    padding: 0.5rem 4rem;
    border: none;
    font-size:1rem;
    border-radius: 12px;
}

.about-section {
    margin-top: 5rem;
}

.section {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 4.2rem 0;
}

.section-left {
    width: 40%;
    border-radius: 10px;
    background-color: #fff1ed;
    padding: 1.5rem;
    border-radius: 20px;
    margin-right: 2rem;
}

.section-left-skillset {
    width: 40%;
    border-radius: 10px;
    padding: 1.5rem;
    padding-top: 189px;
    border-radius: 20px;
    margin-right: 2rem;
}

.skillset-caption {
    text-align: center;
}

.section-right, .section-right-experience, .section-right-skillset {
    width: 60%;
    margin-left: 2rem;
    /*color:#9e9e9e;*/
    margin-top: 2rem;
}

.section-right-experience, .section-right-skillset {
    display: flex;
}

.skillset-a, .skillset-b, .skillset-c {
    width: 35%;
}
.skill-icon{
    height:200px;
}

.skillset-a {
    padding-top: 150px;
    margin-right: 50px;
}

.skillset-b {
    padding-top: 75px;
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.top {
    margin-top: 2rem;
}

.bottom .left {
    border: none;
}

.left {
    width: 30%;
    border-left: 2px solid black;
    border-left-style: dashed;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding-bottom: 2rem;
}

.right {
    left: 70%;
    margin-left: 2rem;
    padding-bottom: 4rem;
}

.hitting-targets .right {
    padding: 0;
}

.left img {
    position: absolute;
    left: 0;
    height: 4rem;
    top: -10%;
}

.celebration {
    margin-top: 2rem;
}

.experience-section .section-left {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.section-right-down {
    padding-top: 100px;
}

.right-inner-experience {
    width: 80%;
    background-color: #EFEAF1;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}


.right-inner {
    width: 50%;
    background-color: #EFEAF1;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}
.right-inner-recentwork {
    /*width: 50%;*/
    /*padding: 1rem;*/
    border-radius: 10px;
    /*margin: 1rem;*/
}
/*.gradient span {
    background: linear-gradient(130deg, rgba(252,119,0,1) 0%, rgba(21,136,9,1) 100%);
    font-size: 72px;*/
    /*background: -webkit-linear-gradient(#eee, #333);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: gradientRotation 5s infinite;
    background-size: 300%;
}*/
.gradient span {
    background: linear-gradient(-45deg, #9871ff, #588ff6,#562af1);
    /*background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);*/
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 5s ease-in-out infinite;
    -moz-animation: animated_text 5s ease-in-out infinite;
    -webkit-animation: animated_text 5s ease-in-out infinite;
}
.animation {
    background: linear-gradient(-45deg, #ffa817, #fd5e39);
    /*background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);*/
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 5s ease-in-out infinite;
    -moz-animation: animated_text 5s ease-in-out infinite;
    -webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}
}
@keyframes gradientRotation {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}
/*@keyframes gradientRotation{
    0% {
        -webkit-background-clip: text;
        background: linear-gradient(130deg, rgba(252,119,0,1) 0%, rgba(21,136,9,1) 100%);
    }
    50% {
        -webkit-background-clip: text;
        background: linear-gradient(100deg, rgba(252,119,0,1) 0%, rgba(21,136,9,1) 100%);
    }
    100% {
        -webkit-background-clip: text;
        background: linear-gradient(180deg, rgba(252,119,0,1) 0%, rgba(21,136,9,1) 100%);
    }
}*/
/*.experience-section .right-inner {
    width:35%;
}*/
.get-in-touch-inner {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    margin-top:10rem;
    background: #ffffff;
    border-radius: 10px;
}
    .get-in-touch-inner .small{
        text-align:left;
    }
    .coworkers-section .right-inner {
        background-color: #ffffff;
    }
.coworkers-innersection{
    height:100%;
}
.coworkers-img {
    height: 65px;
}
.tushticoworker-img-div {
    padding-top: 50px;
}
.tanvicoworker-img-div {
    padding-top: 10px;
}.rohitcoworker-img-div {
    padding-top: 20px;
}
.sub-title {
    padding: 1rem 0;
}
.footer{
    margin-top:5rem;
    border-top:2px solid #a4a4a4;
    padding-top:2rem;
    padding-bottom:2rem;
    display:flex;
}
.logo-footer {
    display: inline-block;
    flex: 1;
    text-align: left;
}
.socialmedia-handles {
    display: inline-block;
    flex: 1;
    text-align: right;
}
.copyright{
    font-size:0.7rem;
}
.inline-block {
    display: inline-block;
    line-height: 0.8rem;
    vertical-align: top;
}
.socialmedia-logo {
    padding: 0 0.5rem;
    vertical-align: middle;
}
/*MEDIA QUERIES*/
@media only screen and (max-width:1540px) {
    html {
        font-size: 21px;
        line-height: 1.5em;
    }
}

@media only screen and (max-width:1300px) {
    html {
        font-size: 20px;
        line-height: 1.5em;
    }
}

@media only screen and (orientation:landscape) and (min-height:500px) and (min-width:550px) and (max-width:1100px) {
    html {
        font-size: 16px;
        line-height: 1.4em;
    }
}


@media only screen and (orientation: portrait), screen and (orientation : landscape) and (max-width:550px) {
    html {
        font-size: 24px;
        line-height: 1.5em;
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width:800px) {
    html {
        font-size: 19px;
        line-height: 1.5em;
    }
}

@media only screen and (max-width:550px) {
    html {
        font-size: 15px;
        line-height: 1.5em;
    }
}

@media only screen and (max-width:428px) {
    html {
        font-size: 13px;
        line-height: 1.5em;
    }
}

@media only screen and (max-width:428px) and (orientation: portrait) and (max-height:600px) {
    html {
        font-size: 11px;
        line-height: 1.4em;
    }
}
